# For Docker
COMPOSE_PROJECT_NAME=msfiles
NETWORK_SUBNET=172.78.15.15/24

APPLICATION_PORT=8080
APPLICATION_HOST=0.0.0.0
# Absolute URL path for end user
BASE_URL=https://msfiles.com/api/v1/storage
LOGGER=y
# Values can be any combination of log, error, warn, debug, and verbose, separated by comma
LOGGER_LEVELS=log,error,warn,debug
# Available values is: query, info, warn, error separated by comma, f.e. "warn,error". Default: "error".
PRISMA_LOGGER_LEVELS=query,info,warn,error
# One of: 'fatal' | 'error' | 'warn' | 'info' | 'debug' | 'trace' | 'silent'
PINO_LOGGER_LEVEL=debug
MINIO_HOST=localhost
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_USE_SSL=n
MINIO_ROOT_USER=msfiles
MINIO_ROOT_PASSWORD=qwerty
# Default bucket
MINIO_BUCKET=msfiles
# Additional bucket which will be accessible from external controller
# 'public' is special external hardcoded opened bucked, files always available at <protocol>://<base-s3-path>/public/<objectname>
MINIO_ADDITIONAL_BUCKETS=public
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_UI_PORT=15672
RABBITMQ_QUEUE_MSFILES=msfiles
RABBITMQ_QUEUE_CORE=mscore
IS_SWAGGER_ENABLED=y
DATABASE_URL="file:./database/msfiles.db"
# Sizes separated by comma in format "<width>x<height>::<fit>".
# Available fit values: ['contain', 'cover', 'fill', 'inside', 'outside'].
# Default value: '300x300::inside'.
THUMBNAIL_SIZES="300x300::inside"
REDIS_PASSWORD=qwerty12
REDIS_PORT=12339
REDIS_HOST=localhost
